.form-container {
    border-top: 1px solid black;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px;
    gap: 20px
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.disabled{
    opacity: 0.4;
}

input, textarea {
    outline: none;
    border: 1px solid rgb(215, 215, 215);
    padding: 10px 10px;
    font-size:12px;
    border-radius: 8px;
}

.error-input {
    border: 1px solid rgb(236, 3, 3)
}

.error {
    color: rgb(236, 3, 3);
    font-weight: bolder;
    font-size: 10px;
}

label{
    font-weight: bolder;
}


.btn-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-bottom: 20px;
}