<div class="table-container">
    <table>
        <thead>
            <tr class="header">
                @for(h of headers(); track h.key){
                <th>{{h.label}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(p of items().slice(0,paginateCount()); track p.id){
            <tr>
                @for(h of headers(); track h.key ){
                <td>
                    @switch (h?.type) {
                    @case ('img') {
                    <img class="img-icon" [srcset]="p?.[h.key]" alt="logo" />
                    }
                    @case ('date') {
                    {{p?.[h.key] | date:'shortDate'}}
                    }
                    @case ('options') {
                    <div class="opt-container">

                        <button class="btn-menu" (click)="toggleMenu(p.id)"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" width="15" height="15">
                            <circle cx="12" cy="4" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="12" cy="20" r="2"></circle>
                        </svg>
                    </button>
                </div>
                    @if(currentId === p.id){
                    <div (click)="toggleMenu('')" class="bg-menu-item"></div>
                    <div class="menu-item">
                        <a [routerLink]="['/edit-product', p.id]">Actualizar</a>
                        <span (click)="showModal(p)">Eliminar</span>
                    </div>
                    }
                    }
                    @default {
                    {{p?.[h.key] }}
                    }
                    }

                </td>
                }
            </tr>
            }
        </tbody>
    </table>
    <div class="container-pagination">
        <p> {{count()}}  Resultados</p>
        <select (change)="onChangePagination(+paginate.value)" #paginate>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
</div>
<app-modal [isVisible]="isModalVisible" (close)="showModal()">
    <div class="container-confirmation">
        <p>Estas seguro de eliminar el producto {{currentProduct?.name}}?</p>
        <div class="btn-container">
            <button class="btn btn-secondary" (click)="showModal()">Cancelar</button>
            <button class="btn btn-primary" (click)="onClickConfirm()">Confirmar</button>
        </div>
    </div>
</app-modal>